@charset "utf-8";
.clearfix:after{content: "";display: block;clear: both;}
*{box-sizing: border-box;}
/*header*/
#main_header{width: 100%;}
#main_gnb_wrap{width: 100%;height: 30px;border-bottom: 1px solid #ddd;}
#main_gnb{width: 980px;margin: 0 auto;/*background:#ccc;*/}

/*main_gnb*/
#gnb{padding-top:5px;float:right;}
#gnb>ul:after{content: "";display: block;clear: both;}
#gnb>ul>li{float: left;border-left: 1px solid #000; }
#gnb>ul>li:first-child{border-left: none;}
#gnb>ul>li>a{display: block;padding: 0 10px;line-height: 20px;}
#gnb>ul>li>a:hover{color:skyblue;}

/*logo*/
#logo_wrap{width: 980px;height: 60px;margin: 0 auto;position: relative;/*background:blue;*/padding-top: 7px;}
h1{width: 250px; /*background: #ccc;*/ text-align: center;margin: 0 auto;color: navy}
.toggle{position: absolute; top: 5px; right: 0}

/*main_lnb*/
#main_lnb_wrap{background: #1c5da3;}
#main_lnb{width: 980px;margin: 0 auto;position: relative;}
#lnb>ul>li{float: left;width: 16.66%;border-right: 1px solid #3362ac;}
#lnb>ul>li:first-child{border-left: 1px solid #3362ac;}
#lnb>ul>li>a{display: block;line-height: 40px;text-align: center;color: white;/*font-weight: bold;*/}
#lnb>ul>li>a:hover{background:skyblue;color:#1c5da3;}

.sub{width: 100%;position: absolute;left: 0;z-index: 1;display: none;}
.sub:after{content: "";display: block;clear: both;}
.sub>li{float: left;background:rgba(28,93,163,.3)}
.sub>li>a{display: block;padding: 5px;color: #fff}
.sub>li>a:hover{color: skyblue;}
/*visual*/
#visual_wrap{height: 400px;background:#274373 url(../images/visual_bg.jpg) no-repeat center;}
#visual_wrap .visual{width:980px;height: 400px;margin: 0 auto;position: relative;}

#visual_wrap .img01{position: absolute;right: 0;bottom: 0;}
#visual_wrap .img02{position: absolute;left: 0;top: 70px;}

#main_banner{background: #eeeeee;color: white;}

#banner{width: 980px;margin: 0 auto;}

#banner>ul{width: 100%;overflow: hidden;}
#banner>ul>li{width: 20%;float: left;height: 200px;cursor: pointer; text-align: center;}
#banner>ul>li:nth-child(1){background: #7c99b9;}
#banner>ul>li:nth-child(1):hover{background:skyblue;}
#banner>ul>li:nth-child(2){background: #4f74a1;}
#banner>ul>li:nth-child(2):hover{background:skyblue;}
#banner>ul>li:nth-child(3){background: #4b8ce0;}
#banner>ul>li:nth-child(3):hover{background:skyblue;}
#banner>ul>li:nth-child(4){background: #3db5f3;}
#banner>ul>li:nth-child(4):hover{background:skyblue;}
#banner>ul>li:nth-child(5){background: #95c8ff;}
#banner>ul>li:nth-child(5):hover{background:skyblue;}


.card{width: 100%;padding-top: 15px;}
/*.card img{display: block;margin: 0 auto;margin-top: 15px;}*/
.card-body{padding: 20px;}
.card-title{margin-bottom: 5px;}
.card-text{font-size: 14px;}


#main_article{width: 980px;margin: 0 auto;color: black;}
#main_article>ul{width: 100%;overflow: hidden;}
#main_article>ul>li{float: left;width: 310px;cursor:pointer;margin-right: 25px;}
#main_article>ul>li:last-child{float:right;margin-right: 0px;}
#main_article .card-body{border: 1px solid #ddd;border-top: none;
}
#main_article .card-text{white-space: nowrap;overflow: hidden;text-overflow: ellipsis;
}

#bottom_article .card{position: relative;}
#bottom_article .card-body{border: 1px solid #ddd;height: 180px;}
#bottom_article .card-text{white-space: nowrap;overflow: hidden;text-overflow: ellipsis;position: absolute;margin-top:10px;}
#bottom_article .card img{position:absolute;top: 30px;right: 0;	}
#bottom_article .card a{position:absolute;bottom: 18px;color:#4b8ce0}


#bottom_article{width: 980px;margin: 0 auto;color: black;}
#bottom_article>ul{width: 100%;overflow: hidden;}
#bottom_article>ul>li{float: left;width: 310px;cursor:pointer;margin-right: 25px;}
#bottom_article>ul>li:last-child{float:right;margin-right: 0px;}

#main_footer{width: 100%;height:167px;margin-top:50px;}
#footer{width: 100%;height: 41px;background: #4d4d4d;}
#footer_nav{width: 980px;margin:0 auto;}
#footer_nav:after{content: "";display: block;clear: both;}
#footer_nav ul{float:left;}
#footer_nav img{float:right;}

#footer_nav ul:after{content: "";display: block;clear: both;}
#footer_nav ul li{float:left;line-height:41px;}

#footer_nav ul li a{color:#ccc;padding-left:20px;
	padding-right:40px;border-left:1px solid #717171;}
#footer_nav ul li:first-child a{padding-left:0;border-left:0;}
#footer_nav ul li a:hover{font-weight:bold;}

#address{height: 126px;background: #5e5e5e;}
#address_n{width: 980px;margin: 0 auto;}
#address_n:after{content: "";display: block;clear: both;}
#address_n h4{color:#fff;line-height:106px;float:left;margin-right:65px;}
.address{float:left;color:#9d9d9d;padding-top:18px;}
.address p{}
.address ul:after{content: "";display: block;clear: both;}
.address ul li{float:left;font-size:12px;padding-right:19px;padding-top:5px;}
